*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

/* hier komt de base.scss */ /* hier komen de colors */
.header {
  width: 100%;
  margin: auto;
  background: #19AEAA;
  margin-bottom: 3rem;
}
.header__a {
  margin: 5rem;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.vragenlijst {
  box-shadow: 0 0 1rem rgba(0, 0, 3, 0.3);
  margin-top: 5rem;
  max-width: 60%;
  margin: 0 auto;
  padding: 5rem;
  animation-name: popup;
  animation-duration: 0.6s;
  border-radius: 1%;
}
.vragenlijst__popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem;
  border-radius: 1%;
  border: 0.1rem solid black;
  text-align: center;
}
.vragenlijst__h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
.vragenlijst__labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.vragenlijst__label {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.vragenlijst__slider {
  width: 100%;
  margin-bottom: 6rem;
}
.vragenlijst__slider input[type=range] {
  width: 100%;
  height: 1rem;
  background-color: #ddd;
  outline: none;
}
.vragenlijst__slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: #19AEAA;
  cursor: pointer;
  border-radius: 50%;
}
.vragenlijst__slider ::-moz-range-thumb {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background: #19AEAA;
  cursor: pointer;
}
.vragenlijst__buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.vragenlijst__tabel {
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 100%;
  overflow-x: auto;
}
.vragenlijst__tabel--responsive {
  display: none;
}
.vragenlijst__tabel table {
  border-collapse: collapse;
  width: 100%;
}
.vragenlijst__tabel table th,
.vragenlijst__tabel table td {
  padding: 1rem;
  text-align: center;
}
.vragenlijst__tabel table th {
  background-color: #ddd;
  font-weight: bold;
}
.vragenlijst__tabel table td {
  border: 0.1rem solid #ddd;
}
.vragenlijst__button--previous, .vragenlijst__button--next {
  padding: 1rem 2rem;
  background-color: #19AEAA;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
  font-size: 3rem;
  cursor: pointer;
}
.vragenlijst__button--info, .vragenlijst__button--bonus, .vragenlijst__button--popup {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
  background-color: #19AEAA;
  cursor: pointer;
}

.cards, .startpagina {
  height: 85vh;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  gap: 5rem;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: popup;
  animation-duration: 0.6s;
}

.card, .startpaginaItem {
  list-style: none;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
}
.card__first, .card__second, .card__third, .startpaginaItem__first, .startpaginaItem__second, .startpaginaItem__third {
  width: 30rem;
  height: 30rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__first--a, .card__second--a, .card__third--a, .startpaginaItem__first--a, .startpaginaItem__second--a, .startpaginaItem__third--a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  background: transparent;
  color: black;
}

.img__card {
  width: 10rem;
}

.gschema {
  padding: 10rem;
  padding-top: 1rem;
  font-family: "Ubuntu", sans-serif;
}

.gschema__onderdeel {
  padding-top: 2rem;
}

.gschema__h2 {
  padding-bottom: 1rem;
}

.gschema__textarea {
  width: 100rem;
  height: 10rem;
  font-size: 1.5rem;
}

.gschema__button {
  height: 5rem;
  width: 15rem;
  background: #19aeaa;
  color: white;
  font-size: 2.5rem;
  transition: 0.4s all;
  margin-top: 3rem;
  border-radius: 0.5rem;
  resize: none;
}
.gschema__button:hover {
  cursor: pointer;
  background: white;
  color: #19aeaa;
}

.form__main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: black;
}
.form__login {
  animation-name: popup;
  animation-duration: 0.6s;
  border-radius: 3rem;
  width: 50rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.55);
  background: white;
  color: black;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4rem;
  font-size: 3rem;
  gap: 2rem;
}
.form__login--h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  border-bottom: 0.2px solid lightgrey;
}
.form__login--div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__login--submit {
  font-size: 1.6rem;
  border: 0.1rem solid black;
  background: #19AEAA;
  color: white;
  width: 100%;
  height: 5rem;
}
.form__login--submit:hover {
  cursor: pointer;
}
.form__login--p {
  font-size: 1.9rem;
}

.input__veld {
  display: block;
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: 0.1rem solid black;
  background: #EEEEEE;
}

@media screen and (max-width: 75rem) {
  .vragenlijst {
    max-width: 80%;
  }
}
@media screen and (max-width: 62.5rem) {
  .vragenlijst {
    max-width: 90%;
    box-shadow: none;
  }
}
@media screen and (max-width: 50rem) {
  .vragenlijst {
    max-width: 100%;
    padding: none;
  }
}
@media screen and (max-width: 43.75rem) {
  .vragenlijst__tabel--desktop {
    display: none;
  }
  .vragenlijst__tabel--responsive {
    display: block;
  }
  .vragenlijst__tabel table, .vragenlijst__tabel thead, .vragenlijst__tabel tbody, .vragenlijst__tabel th, .vragenlijst__tabel td, .vragenlijst__tabel tr {
    display: block;
    width: 100%;
  }
  .vragenlijst__tabel tr {
    margin-bottom: 1.2rem;
  }
}
@media screen and (max-width: 43.75rem) and (max-width: 31.25rem) {
  .vragenlijst__button--previous, .vragenlijst__button--next {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .startpagina, .cards {
    display: block;
    height: auto;
    gap: 2rem;
    padding: 2rem;
  }
  .startpaginaItem, .card {
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
    padding: 2rem;
    text-align: center;
  }
  .startpaginaItem__first, .startpaginaItem__second, .startpaginaItem__third, .card__first, .card__second, .card__third {
    width: 100%;
    height: auto;
  }
  .startpaginaItem--a, .card--a {
    font-size: 1.5rem;
  }
  .startpaginaItem .img__card, .card .img__card {
    width: 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
