@use "../../abstracts/animations";
@use "../../abstracts/colors";
.resultaten {    
    @include animations.popupMixin;
    &__tabel {
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
        overflow-x: auto;

        &--table {
            border-collapse: collapse;
            margin-left: 20rem;
            margin-right: 20rem;


            th,
            td {
                padding: 1rem;
                
            }

            th {
                background-color: map-get(colors.$baseColors, "white");
                font-weight: bold;
            }

            td {
                border: 0.1rem solid map-get(colors.$baseColors, "white");
            }
        }
    }
}
.container {
    display: flex;
    justify-content: space-between;
  }
  

.grafiek{
    width: 20rem;
}